
/slider
= render 'slider'


/feature
= render 'features'


/portfolios
= render 'portfolios'

/services
= render 'services'

/middle
= render 'middle'

/partner
= render 'partner'

/conatcat-info
= render 'conatcat_info'

/bottom
= render 'bottom'

