/*************************
********* Portfolio CSS ******
**************************/

#portfolio{
  .container{
    .title{
      padding-top: 40px;
    }
    .row.projects{
      height: 100%;
      .portfolio-items{
        height: 100%;
        ul#thumbs.portfolio{
          .col-lg-4 {
            height: 290px;
          }
        }
      }
    }
  }
}

//*************** scroll imagge
.fancybox-outer{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fancybox-inner{
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);

}

.fancybox-image{
  position: absolute;
  transition: all 0.2s ease 0s;
  max-width: 100%;
  min-height: 200%;
}

.fancybox-image:hover
{
  -moz-animation: border-bounce 5000ms linear;
  -webkit-animation: border-bounce 5000ms linear;
}
@-moz-keyframes border-bounce {
  0%   { margin-top: -30px;  }
  25%  { margin-top: -150px; }
  50%  { margin-top: -300px;  }
  75%  { margin-top: -150px;  }
  100% { margin-top: -0px;  }
}
@-webkit-keyframes border-bounce {
  0%   { margin-top: -30px;  }
  25%  { margin-top: -150px; }
  50%  { margin-top: -300px;  }
  75%  { margin-top: -150px;  }
  100% { margin-top: -0px;  }
}
//*************** scroll imagge




#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items,
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
